
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Metal Mania', cursive;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #1c1c1c;
}

a {
    text-decoration: none;
}

p {
    padding: 1.6rem 0;
}

img {
    width: 100%;
    height: auto;
}

header {
    height: 64rem;
}
/*header görsel*/
header .bg-image {
    position: absolute;
    background-image: url("image_site/mensrea1.jpg");
    background-size: cover;
    background-position: center;
    height: 64rem;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}
/*header başlık*/
header h1 {
    padding: 20rem 0;
    padding-bottom: 0;
    font-size: 10rem;
    color: #ff0000;
    text-shadow: 2px 0 #040404, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    2px 10px 7px #2c0303;
}
/*header açıklama*/
header p {
    padding: 3rem 0;
    padding-bottom: 0;
    font-size: 2rem;
    color: #6d0000;
    text-shadow: 1px 1px 1px #000000;
}
/*header buton*/
.btn {
    display: inline-block;
    background-color: #979797;
    color: #2c0b4a;
    border: 1px solid black;
    padding: 1.6rem 3.2rem;
    margin: 14rem 0;
    transition: all 0.6s;
}
/*header buton üstüne gelinince*/
.btn:hover {
    background-color: #000000;
    color: #c30000;
}
/*main başlık*/
#section-a {
    background-color: #000000;
    color: #ffffff;
    padding: 2rem 0;
    font-size: 2.5rem;
    text-shadow: 1px 3px 1.5px rgb(248, 0, 0);
}
/*main*/
#section-b {
    padding: 1rem;
}
/*main bloklarının listesi*/
#section-b ul {
    list-style: none;
}
/*main blokları*/
#section-b li {
    background: black;
    color: antiquewhite;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*main bloklarının içi*/
.col-content {
    padding: 1rem;
}
/*main blok başlık*/
#mensrea2-title, #mensrea3-title, #mensrea4-title {
    font-size: 1.6rem;
    text-shadow: 1px 2px 1.5px rgba(248, 0, 0, 0.8);
}
/*main blok açıklama*/
#mensrea2-ex, #mensrea3-ex, #mensrea4-ex {
    font-size: 1.3rem;
    margin: 0px 40px;
    text-shadow: 1px 2px 1.5px hsla(0, 100%, 50%, 0.7);
}
/*main blok içi bağlantılı simge*/
.see {
    font-size: 20px;
    color: #720000;
    text-shadow: 0px 3px 15px rgba(230, 126, 126, 0.7);
    margin-left: 85%;
}
/*"m.e" simgesi*/
#middleEarth {
    color: white;
}
/*footer blokları*/
#section-c, #section-d {
    background-color: black;
    margin-inline: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
/*footer başlıkları*/
#section-c h2, #section-d h2 {
    padding: 1rem 0;
    padding-bottom: 0;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 1px 2px 1.5px rgba(248, 0, 0, 0.7)
}
/*info ve contact simgesi*/
#info, #contact {
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 15px;
    color: #640000;
    text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.18);
}
/*tablet*/
@media screen and (max-width: 800px) {

    html {
        font-size: 10px;
    }
    .see {
        font-size: 20px;
        margin-left: 90%;
    }
}
/*tablet*/
@media screen and (min-width: 800px) {

    html {
        font-size: 14px;
    }
    .see {
        font-size: 20px;
        margin-left: 90%;
    }
}
/*masaüstü-dizüstü*/
@media  screen and (min-width: 1200px) {

    html {
        font-size: 20px;
    }

    header {
        height: 25rem;
    }

    header .bg-image {
        height: 25rem;
    }

    header h1 {
        padding-top: 2rem;
        font-size: 6rem;
        text-shadow: 3px 0 #040404, -3px 0 #000000, 0px #000000, 0 -3px #000000,
        2px 10px 7px #2c0303;
    }

    header p {
        padding: 0.5rem 0rem 4rem 0rem;
        font-size: 2rem;
        text-shadow: 1px 0 #040404, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
        1px 4px 4px #000000;
    }

    .btn {
        display: inline-block;
        padding: 0.4rem 0.8rem;
        margin: 2.5rem 0;
        transition: all 0.6s;
    }

    #section-b li {
        width: 30%;
        height: 35rem;
        overflow: auto;
        margin: 1%;
        display: inline-block;
    }

    .col-content {
        padding: 1rem;
        height: 14rem;
        overflow: auto;
    }

    ul img {
        object-fit: cover;
        height: 350px;
    }

    #mensrea2-title, #mensrea3-title, #mensrea4-title {
        font-size: 45%;
    }

    #mensrea2-ex, #mensrea3-ex, #mensrea4-ex {
        font-size: 45%;
    }

    #section-c, #section-d {
        padding: 10px 100px;
        margin: 50px;
        display: inline-block;
    }
}



